.raiseIndividualFund{
    margin-top: 30px;
    width: 40vw;

    h1{
        text-align: center;
        margin-bottom: 20px;
    }
    .stepper{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .stepperItem{
            background: #cecece;
            width: 70px;
            height: 5px;
            margin-right: 10px;
        }
    }

    
}